@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-image: url('images/background.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: 5fr 16fr 5fr;
    grid-template-rows: 1fr 5fr 15fr 1fr;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header > h1 {
    margin: 0;
    font-size: 4rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav > button {
    width: 100%;
    padding: 0.8rem 0;
    background-color: inherit;
    border: none;
    border-bottom: 0.1rem solid black;
    font-family: inherit;
}

nav > button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    transition-duration: 0.5s;
}

.content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    grid-row: 3;
    grid-column: 2;
}

.slogan {
    font-size: 3rem;
    font-style: italic;
}

.slogan + div {
    font-size: 2rem;
    margin: 0.5rem;
}

.reviews {
    list-style-type: none;
}

.reviews > li {
    margin: 4rem;
    font-size: 1.5rem;
}

.reviews > li:nth-child(odd) {
    display: flex;
    justify-content: left;
}

.reviews > li:nth-child(even) {
    display: flex;
    justify-content: right;
}